body {
    background-image: url('../img/bg.png');
    background-size: cover;
    position: fixed;
}

.container {
    position: relative;
}

.movingArrow {
    position: relative;
    right: 296px;
    top: 21px;
}

.arrow {
    height: 500px;
    width: 200px;
    float: left;
}

#arrowObj {
    position: relative;
    top: 206px;
    left: 98px;
}

#bow {
    position: relative;
    top: 150px;
}

.ground {
    height: 500px;
    width: 700px;
}

.bubble,
.bubble1,
.bubble2 {
    position: absolute;
    left: 600px;
    height: 100px;
    width: 100px;
    /*border-radius: 100%;*/
    background-color: yellow;
    background-image: url('../img/bird.gif');
    background-repeat: no-repeat;
    background-size: 100%;
}

.pos {
    margin-top: 100px;
    background-color: white;
    width: 150px;
    height: 50px;
}
